:root {
  --text-backgroun: rgba(0, 0, 0, 0.405);
  --text-color: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  overflow: auto;
}

html {
  height: 100%;
}

body {
  background: url("./img/starry-sky.webp");
  background-size: cover;
}

.blue {
  color: #0b3d91;
}
.red {
  color: #dd361c;
}

.no-padding {
  padding: 0;
}

h4 {
  font-size: 1.4rem;
}

/* Navbar */

.nav-main {
  background-color: rgba(0, 0, 0, 0.637);
}

.nav-container {
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

.navbar-nav {
  justify-content: center;
  gap: 20px;
}

.logo-div-left {
  display: flex;
}

.logo-div-right {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  color: white;
  font-size: 1.1rem;
}

.nav-link:hover {
  color: #dd361c;
}

.worm-col {
  display: flex;
  align-items: center;
}

.nasa-worm {
  height: 20px;
}

.globe-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nasa-globe {
  height: 50px;
}

.nav-row {
  height: fit-content;
  padding: 20px;
}

.nav-dropdown-dark-example a {
  color: white;
}

.offcanvas {
  background: url("./img/starry-sky.webp");
  background-size: cover;
  background-position: center;
}

.offcanvas-header {
  display: flex;
  justify-content: flex-end;
}

.offcanvas-title {
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.menu-butn {
  font-size: 1rem;
  color: white;
  border: 1px solid white;
}

.menu-butn:hover {
  color: red !important;
  border: 1px solid red !important;
}

.accordion {
  padding-left: 10px;
}

.accordion,
.accordion-item {
  background-color: black !important;
}

.accordion li {
  font-size: 1.2rem;
}

.accordion a {
  color: white;
  list-style: none;
  text-decoration: none;
}

.accordion a:hover {
  color: #dd361c;
}

.accordion-item {
  border: 1px solid white !important;
}

.accordion-button {
  color: black !important;
  font-size: 1.3rem;
}

.collapsed {
  color: white !important;
}
.accordion-button {
  background-color: black;
  color: white;
}

/* Homepage */

.homepage-container {
  background: url(./img/moon-landing-rover.webp);
  height: 100vh;
  background-position: left;
  background-size: cover;
}

.title-span {
  font-size: 2rem;
}

.title-col {
  padding-top: 5vh;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nasa-span {
  font-family: "Nasalization", sans-serif;
  font-size: 2.3rem;
}

.title-row h1,
.title-row h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* color: #dd361c; */
  /* color: #105bd8; */
}

.title-row h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.title-row h1 img {
  height: 22px;
}
.title-row h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

.title-text {
  font-size: 2rem;
  font-weight: 800;
}
/* Articles */

.article-row {
}

.a1 {
  background: url("./img/image-1a.webp");
  background-size: cover;
  background-position: center;
  height: 800px;
}

.article-header-row {
  color: var(--text-color);
  background-color: var(--text-backgroun);
  height: fit-content;
}

.article-header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.article-header-link {
  color: var(--text-color);
  height: fit-content;
}

.article-text-row {
  height: 90%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.article-text {
  color: var(--text-color);
  background-color: var(--text-backgroun);
  align-content: flex-end !important;
}

.photo-info {
  color: var(--text-color);
  background-color: var(--text-backgroun);
}

.a2 {
  background: url("./img/1b.webp");
  background-size: cover;
  background-position: center;
  height: 400px;
}
.b2 {
  background: url("./img/2b.webp");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.image-text-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0;
}

.a2 {
  grid-column: 1 / 2;
}

.a3 {
  color: white;
  grid-column: 2 / 3;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  height: 400px;
}

.a3 a {
  color: white;
}

.b2 {
  grid-column: 1 / 3;
}

.article-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c1 {
  background-image: url("./img/c1.webp");
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 0;
}

.c2 {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  height: 400px;
}
.c3 {
  background: url("./img/c3.webp");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.d1 {
  background: url("./img/4a.webp");
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 0 !important;
}
.d2 {
  background: url("./img/d2.webp");
  background-size: cover;
  background-position: center;
  height: 400px;
}
.d3 {
  background: url("./img/d3.webp");
  background-size: cover;
  background-position: center;
  height: 400px;
}
.d4 {
  background: url("./img/d4.webp");
  background-size: cover;
  background-position: center;
  height: 400px;
}

/* formatting !clean up! */

.a2 {
  padding: 0;
}

.b2 {
  margin-bottom: 5px;
  height: 395px;
}

.c1 {
  margin-left: 5px;
}

.a1 {
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 10px;
}

.a2 {
  margin-left: 5px;
  margin-top: 10px;
}

.b2 {
  margin-top: 10px;
  margin-left: 5px;
  height: 390px;
}

.acol {
  padding: 0;
}

.ccol,
.dcol {
  padding: 5px;
}

.ccol {
  padding-top: 0;
}

.c2,
.c2 a {
  color: var(--text-color);
  list-style: none;
}

.c2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c2 h4 {
  display: flex;
  justify-content: center;
}

.c2 p {
}

.d1 {
}

.article-header-row-lower {
  color: var(--text-color);
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.article-header-lower {
  width: 100%;
  background-color: var(--text-backgroun);
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 6px;
}

.article-header-lower a {
  color: white;
  font-weight: bold;
}
.article-header-lower a:hover {
  color: #dd361c;
  font-weight: bold;
}

/* Footer Container*/

.footer-container {
  color: white;
  padding-top: 40px;
  padding-left: 30px;
}

.footer-container img {
  height: 80px;
}

.footer-container p {
  margin-bottom: 3px;
  font-size: 0.9rem;
}

.bottom-pg-links {
  display: flex;
}

.bottom-pg-links-list {
  display: flex;
  gap: 1%;
  justify-content: flex-end;
  padding-right: 5%;
}

.bottom-pg-links-list a {
  color: white;
}
.bottom-pg-links-list a:hover {
  color: #dd361c;
}


.bottom-pg-links-list a {
  color: white;
}
.bottom-pg-links-list a:hover {
  color: #dd361c;
}
